flow.json
[{"id":"9b782c32.24018","type":"subflow","name":"Customize Bot Name & Avatar","info":" - Drag and drop the node in the palette and link it to the inject node\n  - Customize the name and the avatar using the mxc link (learn how to get the mxc file link here: http://bit.ly/get-mxc-link)\n  - Deploy\n - Click on the inject node\n - You're done\n\n\n![enter image description here](https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/43081642120/original/3tP-QasxD7e45Ksr1-aQAK5lenHd-frAjw.gif?1572521514)","category":"tekos chatbot","in":[{"x":160,"y":140,"wires":[{"id":"a898ea71.7e6e28"}]}],"out":[{"x":1060,"y":140,"wires":[{"id":"236f611.2e7279e","port":0}]}],"env":[{"name":"NAME","type":"str","value":"","ui":{"icon":"font-awesome/fa-address-card-o","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"AVATAR","type":"str","value":"","ui":{"icon":"font-awesome/fa-user-circle","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"TEKOS_BOT_ID","type":"env","value":"TEKOS_BOT_ID","ui":{"icon":"font-awesome/fa-commenting-o","type":"input","opts":{"types":["str","env"]},"label":{}}},{"name":"TEKOS_BOT_TOKEN","type":"env","value":"TEKOS_BOT_TOKEN","ui":{"icon":"font-awesome/fa-wrench","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"BASE_URL","type":"env","value":"BASE_URL"}],"color":"#DEB887","icon":"font-awesome/fa-user-circle-o"},{"id":"a898ea71.7e6e28","type":"function","z":"9b782c32.24018","name":"Change name","func":"msg.url = \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/profile/' + env.get('TEKOS_BOT_ID')+ '/displayname?access_token='+ env.get('TEKOS_BOT_TOKEN')\nmsg.payload={\n\n  \"displayname\": env.get('NAME')\n\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["9cc5f0d9.833e4","a1eeb86a.c4b7e8"]]},{"id":"9cc5f0d9.833e4","type":"http request","z":"9b782c32.24018","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":140,"wires":[["96eb5745.d5c468"]]},{"id":"96eb5745.d5c468","type":"function","z":"9b782c32.24018","name":"change avatar","func":"msg.url = \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/profile/' + env.get('TEKOS_BOT_ID')+ '/avatar_url?access_token='+ env.get('TEKOS_BOT_TOKEN')\nmsg.payload={\n\n  \"avatar_url\": env.get('AVATAR')\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":140,"wires":[["236f611.2e7279e"]]},{"id":"236f611.2e7279e","type":"http request","z":"9b782c32.24018","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":140,"wires":[[]]},{"id":"a1eeb86a.c4b7e8","type":"debug","z":"9b782c32.24018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":200,"wires":[]},{"id":"c903f2e3.23631","type":"subflow","name":"Interaction Classifier","info":"[]()","category":"tekos chatbot","in":[{"x":50,"y":30,"wires":[{"id":"310baf0e.5aae9"}]}],"out":[{"x":520,"y":40,"wires":[{"id":"1c0562c4.cd6e1d","port":0}]},{"x":460,"y":200,"wires":[{"id":"15418071.8974f","port":0},{"id":"15418071.8974f","port":1}]},{"x":1100,"y":160,"wires":[{"id":"b8117a79.fd26f8","port":0},{"id":"b8117a79.fd26f8","port":1}]},{"x":300,"y":140,"wires":[{"id":"f2d831f7.46d79","port":0},{"id":"f2d831f7.46d79","port":1}]},{"x":1280,"y":340,"wires":[{"id":"b8117a79.fd26f8","port":3},{"id":"f8f9afaa.0dfdd","port":0}]}],"env":[{"name":"Bot","type":"env","value":"TEKOS_BOT_ID"},{"name":"Token","type":"env","value":"TEKOS_BOT_TOKEN"},{"name":"Bot_name","type":"env","value":"BOT_NAME"},{"name":"BASE_URL","type":"env","value":"BASE_URL"}],"color":"#DAC4B4","inputLabels":["Tekos in "],"outputLabels":["New Interaction","@Bot Direct message","Ditect message (user to bot)","file message","Pending STEP"],"icon":"font-awesome/fa-random"},{"id":"c9ca20d4.5ab4b","type":"function","z":"c903f2e3.23631","name":"Get members","func":"msg.url = env.get('BASE_URL')+\"/_matrix/client/r0/rooms/\"+msg.roomId+\"/joined_members?access_token=\"+env.get('Token')\nmsg.payload={\n\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[["fb346326.266b1"]]},{"id":"fb346326.266b1","type":"http request","z":"c903f2e3.23631","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":240,"wires":[["4cfa4afc.bb2644"]]},{"id":"4cfa4afc.bb2644","type":"function","z":"c903f2e3.23631","name":"calculate member's nb","func":"\nvar joined = Object.keys(msg.payload.joined).length;\n\nif(joined == 1){\n    msg.payload = msg.messageContent;\n    return [msg,null,null];\n    \n}else if(joined == 2){\n    msg.payload = msg.messageContent;\n    return [null,msg,null];\n}else{\n    return [null,null,msg];\n}\n\nreturn msg;","outputs":3,"noerr":0,"x":800,"y":240,"wires":[["b8117a79.fd26f8"],["b8117a79.fd26f8"],[]],"icon":"font-awesome/fa-thumbs-o-down"},{"id":"310baf0e.5aae9","type":"switch","z":"c903f2e3.23631","name":"New Interaction ?","property":"room","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":147.99998092651367,"y":83.99998664855957,"wires":[["1c0562c4.cd6e1d"],["f2d831f7.46d79"]],"outputLabels":["","existing interaction"]},{"id":"1c0562c4.cd6e1d","type":"function","z":"c903f2e3.23631","name":"Set Room ID","func":"msg.roomId= msg.room\nreturn msg;","outputs":1,"noerr":0,"x":367.9999809265137,"y":43.99998664855957,"wires":[[]],"outputLabels":["new room"]},{"id":"15418071.8974f","type":"function","z":"c903f2e3.23631","name":"is Dierct message (@bot) ***?","func":"\nvar str = msg.event.event.content.formatted_body;\nvar strmobile = msg.event.event.content.body;\nvar bot = env.get(\"Bot\");\nvar botname = env.get(\"Bot_name\");\nvar strtxt =   msg.payload;\n\nif(str){\n    if(str.includes(bot)){\n        strtxt = strtxt.substring(strtxt.indexOf(\":\") + 1); // remove all text before \":\" , that means delete the bot name from the payload\n        strtxt = strtxt.trim(); // remove any spaces if found\n\n        msg.payload = strtxt;\n         return[msg,null,null]\n    }\n   \n}else if(strmobile.includes(botname)){\n     strtxt = strtxt.substring(strtxt.indexOf(\":\") + 1); // remove all text before \":\" , that means delete the bot name from the payload\n        strtxt = strtxt.trim(); // remove any spaces if found\n\n        msg.payload = strtxt;\n         return[null,msg,null]\n    \n}\n\nelse{\n    \n    return[null,null,msg]\n}\nreturn msg;","outputs":3,"noerr":0,"x":210,"y":220,"wires":[[],[],["c9ca20d4.5ab4b"]],"icon":"node-red/switch.svg"},{"id":"f2d831f7.46d79","type":"switch","z":"c903f2e3.23631","name":"","property":"event.event.content.msgtype","propertyType":"msg","rules":[{"t":"eq","v":"m.image","vt":"str"},{"t":"eq","v":"m.file","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":160,"y":154,"wires":[[],[],["15418071.8974f"]]},{"id":"53e95569.8d44dc","type":"link out","z":"c903f2e3.23631","name":"","links":["f746daac.f89698"],"x":1215,"y":260,"wires":[]},{"id":"f746daac.f89698","type":"link in","z":"c903f2e3.23631","name":"","links":["53e95569.8d44dc"],"x":95,"y":320,"wires":[["cf6894d7.bf2a58"]]},{"id":"cf6894d7.bf2a58","type":"function","z":"c903f2e3.23631","name":"pending step found ! ","func":"\nvar data = global.get(msg.roomXD);\nvar pending = data.pendingstep;\n\ndata[pending] = msg.payload;\ndelete data.pendingstep;\nglobal.set(msg.roomXD,data);\n\n\nmsg.step = pending;\nmsg.stepcontent = msg.payload;\n\n\n data = global.get(msg.roomXD);\n\n \n \nif(data[\"STEP\"] && data.hasOwnProperty(data[\"STEP\"])){\n    data = global.get(msg.roomXD);\n    delete data[\"STEP\"];\n    global.set(msg.roomXD,data);\n}\n\n\n\nif(data.STEP){\n        msg.currentstep = data.STEP\n\n         return[msg,null]; // 4\n    }else{\n        return [null,msg];\n    }\n","outputs":2,"noerr":0,"x":255,"y":320,"wires":[["95ebb8cd.1d2b88"],[]]},{"id":"4ba330e7.cf224","type":"debug","z":"c903f2e3.23631","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":360,"wires":[]},{"id":"b8117a79.fd26f8","type":"function","z":"c903f2e3.23631","name":"pending step ?","func":"var roomId = msg.roomId;\nroomId= roomId.substr(0, roomId.indexOf(':'));\nif(!global.get(roomId)){\n    return[msg,null,null,null]; // 1\n}else{\n    \n    var data = global.get(roomId);\n    if(data.pendingstep){\n        msg.roomXD = roomId;\n        return [null,null,msg,null]; // 3\n    }else if(data.STEP){\n        msg.roomXD = roomId;\n        msg.currentstep = data.STEP\n         return[null,null,null,msg]; // 4\n    }else{\n   return[null,msg,null,null]; // 2\n\n    }\n}\n\nreturn msg;","outputs":4,"noerr":0,"x":1040,"y":240,"wires":[[],[],["53e95569.8d44dc"],[]],"icon":"node-red/switch.svg"},{"id":"95ebb8cd.1d2b88","type":"link out","z":"c903f2e3.23631","name":"","links":["f8f9afaa.0dfdd"],"x":415,"y":300,"wires":[]},{"id":"f8f9afaa.0dfdd","type":"link in","z":"c903f2e3.23631","name":"","links":["95ebb8cd.1d2b88"],"x":1215,"y":380,"wires":[[]]},{"id":"d0bf3750.bcab08","type":"subflow","name":"Human handover","info":"Human handover or takeover\nInvite a Human Operator to a discussion","category":"tekos chatbot","in":[{"x":40,"y":80,"wires":[{"id":"d776bb3b.1447b8"}]}],"out":[],"env":[{"name":"TOKEN","type":"env","value":"TEKOS_BOT_TOKEN","ui":{"icon":"font-awesome/fa-key","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"Operator","type":"str","value":"@","ui":{"icon":"font-awesome/fa-address-book","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}}],"color":"#A6BBCF","icon":"font-awesome/fa-male"},{"id":"d776bb3b.1447b8","type":"function","z":"d0bf3750.bcab08","name":"Invite operator","func":"msg.url = \"https://\"+env.get('BASE_URL')+\"/_matrix/client/r0/rooms/\"+msg.roomId+\"/invite?access_token=\"+env.get('TOKEN')\nmsg.payload={\n\n  \"user_id\": env.get('Operator')\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["c775e47c.7583d8"]]},{"id":"c775e47c.7583d8","type":"http request","z":"d0bf3750.bcab08","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":370,"y":80,"wires":[[]]},{"id":"d6bd158d.a5c8d8","type":"link in","z":"95572139.37e6d","name":"","links":["7129bcbb.f56c34","3cdfa08e.fc078","77fcc078.c5fe8","d6f8779d.3b3c08","26f871a0.d51a3e"],"x":835,"y":140,"wires":[["14005589.bf4baa"]]},{"id":"c587ada8.d9216","type":"Tekos out","z":"95572139.37e6d","name":"","bot":"d0a9b04.8c7f35","x":528,"y":206,"wires":[]},{"id":"fd6b03a.c82cb","type":"link out","z":"95572139.37e6d","name":"","links":["c6f8f4da.9e7748"],"x":333,"y":209,"wires":[]},{"id":"49271507.a3b45c","type":"link out","z":"95572139.37e6d","name":"start","links":["8df6dd96.80c0a"],"x":417,"y":281,"wires":[],"info":"Link to onbording interaction"},{"id":"8df6dd96.80c0a","type":"link in","z":"95572139.37e6d","name":"","links":["49271507.a3b45c","a9b2b029.a75cd"],"x":735,"y":320,"wires":[["26eb71c5.4ecabe"]]},{"id":"26eb71c5.4ecabe","type":"chatbot-text","z":"95572139.37e6d","name":"Onbording","message":[{"message":"Hello, I’m a Poilerplate Template Bot. I try to be helpful. (But I’m still just a bot. Sorry!) 😃 "}],"x":894,"y":320,"wires":[["9425227e.dd923","53ac0585.64bf3c"]]},{"id":"9425227e.dd923","type":"link out","z":"95572139.37e6d","name":"","links":["b2125002.06a3a","4b5a232d.4e28fc"],"x":1021,"y":298,"wires":[]},{"id":"b2125002.06a3a","type":"link in","z":"95572139.37e6d","name":"TekosOut","links":["ba7ce9c5.aace78","923ede14.711d3","c289f688.6131d8","79844ae8.305824","9425227e.dd923","48323382.384d2c","80533fcd.c4ae","2e1a67fc.b5ab68","efb78ffa.795f8","9780b1b7.e2d35","8e9b8033.42b7c","7b50f906.830de8","6019764.b9ad088","8b833035.834ae","700965d3.e3fc2c","76c70e2e.71396","4a48a08.e900e6","3b135afa.ba9bf6","24642811.787118","26d91ab7.570356","20f06907.6962d6","65c21c4.f4044e4","8ac227d9.f65d88","13e693de.0ee42c","9f869059.7c014","346e2f7.6bf54d","3db9cb7.b2f4634","713a3fcd.c7fc7","ab6c884f.043998","7252c493.fa00ac","423e6837.667528","15c7555f.ea072b","8799b02c.bda23","e53db452.889128","45d8540d.9a258c","6ca1f2b4.965cdc","51c72751.af9c98","ef8cca20.204848","b6e1939b.f46d7","f562994f.47a488","b25dd224.8228d","848f70f5.b68ac","a753e9ea.8444c8","81f0e039.d0f74","7099eedf.f10f8","bc08308.6e726d","c9ea4cfb.7ba2f","5e9741e3.6dba6","5ca430e.c5866d","7aa2a2d8.8f825c","c4b32145.88b71","bdb94b32.4b2fb8","2c497986.4142e6","c5beba23.690178","916779f.feda788","21467d5e.ba91c2","59272024.cd32d","e2f3679e.be80f8","bd82a545.71abd8","4a9437e7.f8a038","51a60ec1.588d9","48bfa5f4.246bac","4687b71b.7fa6c8","b597d08e.b0c7b","7929bcde.f77764","5f599e01.38c13","4e83ab52.51dc84","c1ea86ab.91c628","44e53416.2e89ac","5d5fa886.29ed58","cc222265.74ade","4e19994d.993458","6984a4b2.93847c","ab4f8c9e.bed59","ead22a8f.61ee18","70a1a76a.2b8798","7cdc912b.354f7","50c864e9.ce303c","e8cbf7c5.403728","cc443cb8.660f4","e4c49a5c.8a3048","6b94e86b.aeafe8","6daca5bf.0593ec","e5cad6e2.4463c8","df8e0a7e.4bb988","5e47bffc.f3b84","c03ca3ea.235ab","ae2c2da.9b56bd","254660ac.f08bf","fccb2d1f.89853","3f1936ea.e961ca","37b977be.ac61d8","6c0d248.5f710dc","2fca68ac.5552c8","79fb66e7.342ff8","56ea3968.841bf8"],"x":417,"y":208,"wires":[["c587ada8.d9216"]]},{"id":"348a3826.462898","type":"chatbot-generic-buttons","z":"95572139.37e6d","name":"Menu","buttons":[{"type":"postback","label":"Action 1","value":"action 1","alert":false},{"type":"url","label":"Visit Support Center","url":"https://tekos.freshdesk.com/a/solutions/articles/43000542170"}],"message":"Plans: ","x":1170,"y":140,"wires":[["c289f688.6131d8","4be672ff.2d05fc"]]},{"id":"c289f688.6131d8","type":"link out","z":"95572139.37e6d","name":"","links":["b2125002.06a3a"],"x":1255,"y":100,"wires":[]},{"id":"948ea8c5.85ac08","type":"switch","z":"95572139.37e6d","name":"onbording","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"menu","vt":"str"},{"t":"eq","v":"services","vt":"str"},{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"talk to human","vt":"str"},{"t":"eq","v":"Contact Support","vt":"str"},{"t":"cont","v":"deploy template","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":352,"y":756,"wires":[["3cdfa08e.fc078"],["3cdfa08e.fc078"],["a9b2b029.a75cd"],["f5119b17.40b3f8"],["f5119b17.40b3f8"],["648e4b20.f00c34"],["cda6ea71.6b54a8"]]},{"id":"41e3fa30.873a84","type":"link in","z":"95572139.37e6d","name":"","links":["5893370.a6ee9c8"],"x":703,"y":668,"wires":[["d9dcc619.8a1fd8"]]},{"id":"d9dcc619.8a1fd8","type":"chatbot-text","z":"95572139.37e6d","name":"Fallback","message":[{"message":"Désolé je n'ai pas compris votre message 😃"},{"message":"Je suis encore un bot"}],"x":814,"y":666,"wires":[["923ede14.711d3"]]},{"id":"923ede14.711d3","type":"link out","z":"95572139.37e6d","name":"","links":["b2125002.06a3a"],"x":918.0000286102295,"y":666.0000896453857,"wires":[]},{"id":"77fcc078.c5fe8","type":"link out","z":"95572139.37e6d","name":"","links":["d6bd158d.a5c8d8"],"x":1147,"y":378,"wires":[]},{"id":"3cdfa08e.fc078","type":"link out","z":"95572139.37e6d","name":"","links":["d6bd158d.a5c8d8"],"x":571,"y":675,"wires":[]},{"id":"a9b2b029.a75cd","type":"link out","z":"95572139.37e6d","name":"","links":["8df6dd96.80c0a"],"x":571,"y":715,"wires":[]},{"id":"d739f684.d21f78","type":"link out","z":"95572139.37e6d","name":"","links":["cb2e48ed.0dbd68"],"x":571,"y":954,"wires":[]},{"id":"f5119b17.40b3f8","type":"link out","z":"95572139.37e6d","name":"","links":["74712369.9a7b1c","146071e.c8df58e","d32bc60b.d39a88"],"x":571,"y":756,"wires":[]},{"id":"a823af14.6f83a","type":"switch","z":"95572139.37e6d","name":"actions","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"action 1","vt":"str"},{"t":"eq","v":"action 2","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":360,"y":1020,"wires":[["d739f684.d21f78"],["42bdb23f.dc935c"],["b840afb7.f338c"]]},{"id":"42bdb23f.dc935c","type":"link out","z":"95572139.37e6d","name":"","links":["f1b6b836.5fe9c8"],"x":571,"y":998,"wires":[]},{"id":"f1b6b836.5fe9c8","type":"link in","z":"95572139.37e6d","name":"","links":["42bdb23f.dc935c"],"x":715,"y":980,"wires":[[]]},{"id":"2df4ada.dbcbc52","type":"chatbot-text","z":"95572139.37e6d","name":"capabilites","message":[{"message":"For the time being, you need to customize me"}],"x":842,"y":378,"wires":[["81f0e039.d0f74","9af6da57.03bdc8"]]},{"id":"81f0e039.d0f74","type":"link out","z":"95572139.37e6d","name":"","links":["b2125002.06a3a"],"x":987,"y":338,"wires":[]},{"id":"144e7f21.d4ed91","type":"Tekos in","z":"95572139.37e6d","name":"","bot":"d0a9b04.8c7f35","x":238,"y":209,"wires":[["fd6b03a.c82cb"]]},{"id":"fab1b7d6.7054b8","type":"chatbot-text","z":"95572139.37e6d","name":"will connect ","message":[{"message":"ok, i'll try to find a human connected. \nYou can also rise a support ticket here: https://tekos.freshdesk.com/support/tickets/new\n\n"}],"x":824,"y":756,"wires":[["2c497986.4142e6","78e1df0f.8d5c2"]]},{"id":"2c497986.4142e6","type":"link out","z":"95572139.37e6d","name":"","links":["677b0cc5.72afa4","ae715241.a6aa1","b2125002.06a3a"],"x":945,"y":712,"wires":[]},{"id":"d32bc60b.d39a88","type":"link in","z":"95572139.37e6d","name":"","links":["60628679.a9a3b8","f5119b17.40b3f8","4a8cd957.79ccc8"],"x":704.9999713897705,"y":755.9999103546143,"wires":[["fab1b7d6.7054b8"]]},{"id":"78e1df0f.8d5c2","type":"subflow:d0bf3750.bcab08","z":"95572139.37e6d","name":"","env":[{"name":"Operator","value":"@miled.essaafi:m.tekos.co","type":"str"},{"name":"Opretaor","value":"@miled.essaafi:m.tekos.co","type":"str"}],"x":1024,"y":756,"wires":[]},{"id":"c6f8f4da.9e7748","type":"link in","z":"95572139.37e6d","name":"","links":["fd6b03a.c82cb"],"x":197,"y":325,"wires":[["b754a142.97441"]]},{"id":"1bb2774c.3a54c9","type":"inject","z":"95572139.37e6d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":154,"y":140,"wires":[["918a7fdd.6f11a"]]},{"id":"cb2e48ed.0dbd68","type":"link in","z":"95572139.37e6d","name":"","links":["d739f684.d21f78","c939c4e7.7e3238","c2a1d953.517618","87fec19b.2393a","f860a85e.919d08"],"x":715,"y":920,"wires":[[]]},{"id":"b754a142.97441","type":"subflow:c903f2e3.23631","z":"95572139.37e6d","name":"interaction","env":[],"x":302,"y":325,"wires":[["49271507.a3b45c"],["76c108ca.5c1638"],["76c108ca.5c1638"],[],[]]},{"id":"918a7fdd.6f11a","type":"subflow:9b782c32.24018","z":"95572139.37e6d","name":"","env":[{"name":"NAME","value":"Tekos Test","type":"str"},{"name":"AVATAR","value":"mxc://m.tekos.co/PcQNEQaOanMsjrvSTnZtOLKG","type":"str"}],"x":450,"y":140,"wires":[[]]},{"id":"9fb2b573.393e88","type":"comment","z":"95572139.37e6d","name":"go to step: name","info":"","x":680,"y":140,"wires":[]},{"id":"f8eefa4c.7262b8","type":"link in","z":"95572139.37e6d","name":"","links":["ac637e20.539e","b840afb7.f338c"],"x":703,"y":580,"wires":[[]]},{"id":"dd41769.989e688","type":"debug","z":"95572139.37e6d","name":"Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"_dialogflow","targetType":"msg","x":1034,"y":514,"wires":[]},{"id":"cda6ea71.6b54a8","type":"link out","z":"95572139.37e6d","name":"","links":["df8e8040.18abd"],"x":571,"y":835,"wires":[]},{"id":"df8e8040.18abd","type":"link in","z":"95572139.37e6d","name":"","links":["cda6ea71.6b54a8"],"x":235,"y":1020,"wires":[["a823af14.6f83a"]]},{"id":"76c108ca.5c1638","type":"link out","z":"95572139.37e6d","name":"","links":["c93958c1.23cfb8"],"x":417,"y":325,"wires":[]},{"id":"c93958c1.23cfb8","type":"link in","z":"95572139.37e6d","name":"","links":["76c108ca.5c1638","aaac7a2a.fe3f58"],"x":219,"y":765,"wires":[["948ea8c5.85ac08"]]},{"id":"b840afb7.f338c","type":"link out","z":"95572139.37e6d","name":"","links":["b1200440.54a4e8","f8eefa4c.7262b8"],"x":575,"y":1080,"wires":[]},{"id":"4be672ff.2d05fc","type":"chatbot-generic-buttons","z":"95572139.37e6d","name":"Menu","buttons":[{"type":"postback","label":"Talk to our team","value":"talk to human","alert":false},{"type":"postback","label":"create your action","value":"action 2","alert":false}],"message":"Account","x":1310,"y":140,"wires":[["e5cad6e2.4463c8"]]},{"id":"e5cad6e2.4463c8","type":"link out","z":"95572139.37e6d","name":"","links":["b2125002.06a3a"],"x":1415,"y":140,"wires":[]},{"id":"ab1744fc.146fd8","type":"switch","z":"95572139.37e6d","name":"action","property":"_dialogflow.action","propertyType":"msg","rules":[{"t":"eq","v":"action 1","vt":"str"},{"t":"eq","v":"give_capabilities","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1070,"y":560,"wires":[["c2a1d953.517618"],["d98d947a.7a4808"],["f9bb0877.54bae8"]]},{"id":"c2a1d953.517618","type":"link out","z":"95572139.37e6d","name":"","links":["cb2e48ed.0dbd68"],"x":1235,"y":500,"wires":[]},{"id":"f9bb0877.54bae8","type":"change","z":"95572139.37e6d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"_dialogflow.fulfillmentMessages[0].text.text[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":640,"wires":[["cff4c06e.14882"]]},{"id":"cff4c06e.14882","type":"chatbot-text","z":"95572139.37e6d","name":"fullfillment message","message":[{"message":""}],"x":1530,"y":640,"wires":[["56ea3968.841bf8"]]},{"id":"b708096e.4e61a8","type":"link in","z":"95572139.37e6d","name":"","links":["53ac0585.64bf3c","d98d947a.7a4808"],"x":736,"y":379,"wires":[["2df4ada.dbcbc52"]]},{"id":"53ac0585.64bf3c","type":"link out","z":"95572139.37e6d","name":"","links":["b708096e.4e61a8"],"x":1065,"y":320,"wires":[]},{"id":"d98d947a.7a4808","type":"link out","z":"95572139.37e6d","name":"","links":["bafe1309.ead79","b708096e.4e61a8"],"x":1235,"y":540,"wires":[]},{"id":"16b38f3a.0e0431","type":"chatbot-generic-buttons","z":"95572139.37e6d","name":"handover ?","buttons":[{"type":"postback","label":"Talk to human","value":"Talk to human","alert":false}],"message":"Do you need to talk to a human ?","x":1336,"y":734,"wires":[[]]},{"id":"f75d0a70.cf9048","type":"link in","z":"95572139.37e6d","name":"","links":[],"x":1231,"y":734,"wires":[["16b38f3a.0e0431"]]},{"id":"4a8cd957.79ccc8","type":"link out","z":"95572139.37e6d","name":"","links":["d32bc60b.d39a88"],"x":1235,"y":580,"wires":[]},{"id":"bf297103.64ef9","type":"link in","z":"95572139.37e6d","name":"","links":["293a37c5.1ff7a8"],"x":715,"y":1040,"wires":[[]]},{"id":"648e4b20.f00c34","type":"link out","z":"95572139.37e6d","name":"","links":["51848f1c.38d28"],"x":571,"y":800,"wires":[]},{"id":"9af6da57.03bdc8","type":"chatbot-text","z":"95572139.37e6d","name":"emoji","message":[{"message":"🤗"}],"x":1032,"y":378,"wires":[["77fcc078.c5fe8","2fca68ac.5552c8"]]},{"id":"2fca68ac.5552c8","type":"link out","z":"95572139.37e6d","name":"","links":["b2125002.06a3a"],"x":1127,"y":338,"wires":[]},{"id":"14005589.bf4baa","type":"chatbot-text","z":"95572139.37e6d","name":"","message":[{"message":"This is the main Menu 😎 "}],"x":960,"y":140,"wires":[["348a3826.462898","79fb66e7.342ff8"]]},{"id":"79fb66e7.342ff8","type":"link out","z":"95572139.37e6d","name":"","links":["b2125002.06a3a","4b5a232d.4e28fc"],"x":1055,"y":120,"wires":[]},{"id":"f00d72f2.7ddc7","type":"comment","z":"95572139.37e6d","name":"Use NLP service","info":"","x":420,"y":1080,"wires":[]},{"id":"d35a5c54.51fd1","type":"comment","z":"95572139.37e6d","name":"See here","info":"","x":800,"y":580,"wires":[]},{"id":"56ea3968.841bf8","type":"link out","z":"95572139.37e6d","name":"","links":["b2125002.06a3a"],"x":1675,"y":640,"wires":[]},{"id":"d0a9b04.8c7f35","type":"tekos bot","z":"","name":"Your Bot","room":"","userId":"${TEKOS_BOT_ID}","accessToken":"${TEKOS_BOT_TOKEN}","matrixServerURL":"https://m.tekos.co"}]
